.central-div {
  max-width: 900px;
  margin: auto;
  padding-top: 5px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  font-size: 13pt;
  padding-bottom: 8px;
}

.button-th {
  border: 0px;
  background: white;
  width: 10.6%;
}

.table-div {
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 85%;
}

th {
  border: 1px solid black;
  background: lightgray;
  width: 25%;
}

.menu-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50;
  margin: 5px;
  padding: 5px;
  font-size: 14pt;
}

input {
  width: 300px;
  height: 26px;
  font-size: 12pt;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 6px;
}

input:focus {
  box-shadow: 5px 5px 5px gray;
}

button,
input {
  box-shadow: 5px 5px 5px lightgray;
}

.add-button {
  font-size: 12pt;
  height: 30px;
  width: 150px;
  background: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.add-button:hover {
  background: grey;
  color: white;
  box-shadow: 5px 5px 5px gray;
}

.image-information {
  border: 1px solid black;
  border-radius: 50px;
  padding: 4px;
  box-shadow: 5px 5px 5px lightgray;
}

.image-information:hover {
  background: grey;
  filter: invert(1);
  box-shadow: 5px 5px 5px gray;
}
