<form [formGroup]="form">
  <h1 id="h1-text">{{ title }}</h1>
  <p>Наименование</p>
  <fieldset id="radio-btn-fieldset">
    <input
      type="radio"
      id="email-radio-btn"
      name="type-name"
      class="radio-input"
      checked
      (click)="addEmailValidator()"
    />
    <label for="email-radio-btn">Почта</label>
    <input
      type="radio"
      id="site-radio-btn"
      name="type-name"
      class="radio-input"
      (click)="removeEmailValidator()"
    />
    <label for="site-radio-btn">Сайт</label>
  </fieldset>
  <br />
  <input id="name-input" class="text-input" formControlName="name" />
  <p
    class="error-p"
    *ngIf="(name.errors?.minlength || name.errors?.required) && name.touched"
  >
    Наименование неподходящие длины!
  </p>
  <p class="error-p" *ngIf="name.errors?.email && name.touched">
    Наименование не соответствует формату почты!
  </p>
  <p>Пароль</p>
  <input
    id="password-input"
    class="text-input"
    formControlName="textPassword"
  />
  <p
    class="error-p"
    *ngIf="
      (textPassword.errors?.minlength || textPassword.errors?.required) &&
      textPassword.touched
    "
  >
    Пароль меньше 8 символов!
  </p>
  <p class="coincidence-p" *ngIf="coincidencePassword">
    Пароль с таким наименованием уже есть!
  </p>
  <div class="button-div">
    <button id="cancel-btn" class="cancel-btn" (click)="modalService.close()">
      Отменить
    </button>
    <button
      id="save-btn"
      class="save-btn"
      (click)="submit()"
      [disabled]="!form.valid"
    >
      Сохраниться
    </button>
  </div>
</form>
