button {
  margin: 25px 5px 5px 5px;
  box-shadow: 5px 5px 5px lightgrey;
}

.save-btn,
.cancel-btn {
  font-size: 12pt;
  height: 30px;
  width: 150px;
  border: 1px solid black;
  border-radius: 10px;
}

.save-btn {
  background: white;
}

.save-btn:hover {
  background: grey;
  color: white;
  box-shadow: 5px 5px 5px gray;
}

.cancel-btn {
  background: grey;
}

.cancel-btn:hover {
  background: lightgray;
  color: black;
  box-shadow: 5px 5px 5px gray;
}

.text-input {
  width: 80%;
  height: 26px;
  font-size: 12pt;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px lightgray;
  text-align: center;
}

.text-input:focus {
  box-shadow: 5px 5px 5px gray;
}

p {
  margin-top: 25px;
  margin-bottom: 5px;
}

.radio-input,
label {
  display: inline-block;
  vertical-align: top;
}

label {
  margin-right: 15px;
  margin-left: 2px;
}

fieldset {
  border-radius: 25px;
  margin-bottom: -15px;
  box-shadow: 5px 5px 5px lightgray;
}

h1 {
  margin-bottom: 0px;
}

.error-p {
  margin: 0;
  color: red;
  font-weight: bold;
  font-size: 13pt;
}

form .text-input.ng-invalid {
  border: 1px solid red;
}

.coincidence-p {
  color: red;
  font-weight: bold;
  font-size: 15pt;
}
